<!DOCTYPE html>
<html>
<head>
  <title>Client Link</title>
</head>
<body>
  <h2>Client Selection Link</h2>
  <p>
    <a href="<%= clientLink %>" target="_blank"><%= clientLink %></a>
  </p>
  <a href="/">⬅️ Go Back</a>
</body>
</html>
